html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Avenir Next", sans-serif;
  letter-spacing: 0.015em;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2, h3, p {
	font-family: Avenir Next;
	text-align: center;
}

h1 {
	font-weight: 800;
	letter-spacing: 0.53px;
}

h2 {
	color: #818CEB;
	letter-spacing: 0.68px;
}

h3 {
	color: #818CEB;
	font-weight: initial;
	font-family: monaco;
	font-weight: initial;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
