<script>
  import Button from '../../components/Button.svelte';
</script>

<style>
  /*
  constants
  --------------------------------------------------------
  */
  :root {
    /* colors */
    --text: #4d5b68;
    --textDark: #030303;
    --compliment: #818ceb;
    --complimentLight: #cdd7F4;

    /* dimensions */
    --width: 42.903em;
    --space: 1.161em;

    /* type */
    /* we'll set font-size in px so that computing em values is straightforward */
    --alpha: 45px;
    --beta: 36px;
    --gamma: 31px;

    --lead: 1.178;
  }

  /* reduce font-size as viewport narrows */
  @media all and (max-width: 660px) {
    :root {
      /* type */
      --alpha: 36px;
      --beta: 29px;
      --gamma: 25px;
    }
  }

  @media all and (max-width: 660px) {
    :root {
      /* type */
      --alpha: 29px;
      --beta: 23px;
      --gamma: 20px;
    }
  }

  /*
  base
  --------------------------------------------------------
  */
  /* apply a natural box model to everything */
  *,
  *:before,
  *:after { 
    box-sizing: border-box;
  }

  /* base heading styles */
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    line-height: var(--lead);
    margin: 0;
  }

  p {
    margin: 0;
  }

  /* TODO understand this syntax */
  :global(a):hover {
    text-decoration: none;
  }

  /*
  bosun
  --------------------------------------------------------
  */
  /* a 'boatswain' or 'bosun' is the person on a boat who maintains and fixes things */
  /* TODO check and adjust all vertical spacing once typeface is final */
  .bosun {
    /* include horizontal padding in overall width */
    max-width: calc(var(--width) + (var(--space) * 2));

    /* we establish the base font-size for the component here, which will be equal to 1em from here on */
    font-size: var(--gamma);
    /* TODO set font-weight one typeface is final */
    line-height: 1.161;
    color: var(--text);

    padding: 0 var(--space);
    margin: 0 auto;
  }

  /*
  header
  ----------------------------
  */
  .bosun--header {
    display: flex;
    justify-content: space-between;

    /* we'll use relative units (em) for widths, padding, margins, etc, so that when we change font-size
       at various viewport widths, things remain in proportion */
    padding-top: 2.065em;
  }

  .bosun--mast {
    /* ask this element to take up all the horizontal space that bosun--note isn't using */
    flex: 2;

    padding-right: var(--space);
  }

  h2,
  h3,
  .bosun--note {
    font-size: var(--alpha);
  }

  h2 {
    color: var(--textDark);
    margin-bottom: 0.756em;
  }

  h3 {
    color: var(--compliment);
    margin-bottom: 0.756em;
  }

  /* TODO adjust width once typeface is final; ideally this would be more flexible */
  .bosun--note {
    width: 7.422em;
    font-weight: bold;
    line-height: var(--lead);
    color: #d6d6d6;
  }

  .bosun--note img {
    display: inline-block;
    vertical-align: middle;
    width: 3.022em;
    /* excuse me hermie, mind scooting over just a bit? */
    margin-left: -0.089em;
  }

  @media all and (max-width: 980px) {
    .bosun--header {
      flex-direction: column;
      align-items: center;

      text-align: center;
    }

    .bosun--note {
      width: auto;
      margin-bottom: 0.756em;
    }
  }

  /*
  content
  ----------------------------
  */
  .bosun--content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-top: -1.548em;
  }

  .bosun--icon {
    width: 7.097em;
    margin-bottom: 0.839em;
  }

  .bosun--subhead {
    font-size: var(--alpha);
    color: var(--compliment);
  }

  .bosun--detail {
    font-size: var(--beta);
    font-weight: bold;
    line-height: 1.167;
    color: var(--complimentLight);

    margin-bottom: 0.75em;
  }

  @media all and (max-width: 1080px) {
    .bosun--content {
      margin-top: 0;
    }
  }

  @media all and (max-width: 980px) {
    .bosun--icon {
      margin-bottom: 1.226em;
    }
  }

  /*
  footer
  ----------------------------
  */
  .bosun--footer {
    text-align: center;
    padding-top: 1.548em;
    margin-bottom: 1.613em;
  }

  @media all and (max-width: 660px) {
    .bosun--footer {
      margin-bottom: 2.065em;
    } 
  }
</style>

<section class="bosun">
  <header class="bosun--header">
    <div class="bosun--mast">
      <h2>Reinvent the Social Web</h2>
      <h3>Want to Contribute?</h3>
    </div>
    <aside class="bosun--note">Help to build a decentralized social network protocol <img src="/images/hermie-hearts.png" alt="Hermie projects warm hearts your way"></aside>
  </header>
  <div class="bosun--content">
    <!-- TODO get SVG version -->
    <img class="bosun--icon" src="/images/hermie-hexagon.png" alt="Hermie hangs out inside a nice gray hexagon">
    <h4 class="bosun--subhead">SSBC</h4>
    <p class="bosun--detail">Secure Scuttlebutt Consortium</p>
    <a href="https://github.com/ssbc" target="_blank"><Button text={'Visit our GitHub'}/></a>
  </div>
  <footer class="bosun--footer">
    <p>join our network of decentralized devs and users from across the globe</p>
  </footer>
</section>
