<style>
  section {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  div {
    max-width: 40rem;
    padding: 6rem;
    border: 3px dotted #818CEB;
    border-radius: 25px;
  }
</style>

<section>
  <div>
    <h1>Hello this page doesn't exist!</h1>
  </div>
</section>
