<script>
  export let text;
</script>

<div>
  <button>
    {text}
  </button>
</div>

<style>
  button {
    /** positioning **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;

    /** make button look pretty **/
    display: block;
    padding: 10px 24px;
    min-width: 4em;
    background-color: #FEFC00; /* Yellow */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0.83;


    /** 3D Block Effect **/
    box-shadow: 0 10px 0 0 #e7e616;

    /* button text */
    font-family: Avenir Next;
    font-size: 18px;
    font-weight: bold;
    color: #91ADFF;
  }

  button:hover {
    opacity: 1;
    text-decoration: none;
  }

  button:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
  }

  button:active,
  button:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
  }
</style>
